.card-container {
    padding: 40px;
    min-height: 440px;
}

.m-40 {
    margin: 40px;
    margin-top: 90px;
}

.pinkish {
    background-color: #ffc0cb24;
}

.greenish {
    background-color: #0080001c;
}

.yellowish {
    background-color: #ffffe042;
}

.redish {
    background-color: #80000040;
}

.greyish {
    background-color: #8080800a;
}


.carousel-container {
    height: 340px;
}
